apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "data-visualizer.fullname" . }}-flask
  labels:
    {{- include "data-visualizer.flask.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "data-visualizer.flask.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "data-visualizer.flask.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: flask
          image: "{{ .Values.image.repository }}/{{ .Values.image.registry }}/{{ .Values.image.flask.image }}:{{ .Values.image.flask.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /api/version
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /api/version
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          volumeMounts:
            - name: flask-data
              mountPath: /data
      volumes:
        - name: flask-data
          persistentVolumeClaim:
            claimName: {{ include "data-visualizer.fullname" . }}-flask-data