apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "data-visualizer.fullname" . }}-react
  labels:
    {{- include "data-visualizer.react.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "data-visualizer.react.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "data-visualizer.react.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: react
          image: "{{ .Values.image.repository }}/{{ .Values.image.registry }}/{{ .Values.image.react.image }}:{{ .Values.image.react.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          env:
            - name: VITE_URL_PREFIX
              value: https://{{ .Values.ingress.host }}
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10